{% extends 'main.html' %}
{% load static %}
{% block content %}
    <main>
        <h1>Epic Bevy Project</h1>
        <script src="{% static 'rust/bevy_project/src/main.rs' %}" type="module"></script>
    </main>
{% endblock content %}
