{% extends 'main.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <a href="{% url 'create_project' %}">Create Project</a>
            {% if instances|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in instances %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' instance.id %}">{{ instance.name }}</a>
                                </td>
                                <td>{{ instance.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <h2>Ask a question</h2>

            <form method="post">
                {% csrf_token %}
                <input type="text" class="form-control" name="user_input">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>

            {% if response %}
                <div>
                    {{ response|safe }}
                </div>
            {% endif %}
            <h3>Go to finished project(s)</h3>
            <a href="{% url 'bevy_proj' %}">first Bevy Project</a>



        </div>
    </main>
{% endblock content %}
